# Dependencies
node_modules/

# Production build
dist/
build/

# Environment variables (секрети та ключі)
.env
.env.local
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db